# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Java
*.class
*.jar
*.war
*.ear
target/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace

# Environment files
.env
.venv

# used folders
status/
updated_bibs/